/* Add CSS Styling */
.click,
.needy-click {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.click {
    background-color: black;
    color: white;
}

.needy-click {
    background-color: yellow;
}